.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 0.625rem 1.25rem; 
    height: 2rem; 
    border-bottom: 0.125rem solid #ccc; 
    background-color: var(--primary);
}

.logo img {
    height: 3rem;
    width: auto;
    /* margin-bottom:.5rem; */
}

.header {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text2);
    text-align: center;
    flex-grow: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.menu-icon {
    width: 2.5rem; 
    height: auto;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 9.375rem; 
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 0.75rem 1rem; 
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
